<!DOCTYPE html>
<html>
	<head>
		<title>NAPFA Score Checker</title>
		<link rel="stylesheet" href="../static/bootstrap.css">
	</head>
	<body style="margin:5px;">
		<h2>NAPFA Score Checker</h2>
		<table style="height:40px;">
			<tr>
				<td style="width:70px;">Gender: </td>
				<td style="width:100px;">{{gender}}</td>
				<td style="width:40px;">Age: </td>
				<td style="width:100px;">{{age}}</td>
			</tr>
		</table>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Station</th>
					<th scope="col">Score</th>
					<th scope="col">Grade</th>
					<th scope="col">Points</th>
					<th scope="col">Score to Next Grade</th>
					<th></th>
				</tr>
			</thead>
			<tbody style="line-height: 37.7px;">
				{% for i in range(6) %}
				<tr>
					<th scope="row" width="20%">{{stations[i]}}</th>
					<td width="10%">{{scores[i]}}</td>
					<td width="10%">{{grades[i]}}</td>
					<td width="10%">{{points[i]}}</td>
					<td width="15%">{{next_scores[i]}}</td>
					<td width="20%">
						{% if diffs[i] != None %}
						<small><i>You're {{diffs[i]}} away from the next grade!</i></small>
						{% else %}
						<small><i>Good job!</i></small>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<table style="height:40px;">
			<tr>
				<td style="width:90px;">Total Points: </td>
				<td style="width:90px;">{{total_points}}</td>
				<td style="width:55px;">Award: </td>
				<td style="width:100px;">{{award}}</td>
			</tr>
		</table>
		<div class="card border-dark mb-3" style="max-width: 50rem;">
			<div class="card-header">Award Requirements</div>
			<div class="card-body">
			  <p class="card-text">Gold: At least a C grade performance in all 6 test items and a total of 21 or more points.</p>
			  <p class="card-text">Silver: At least a D grade performance in all 6 test items and a total of 15 or more points.</p>
			  <p class="card-text">Bronze: At least an E grade performance in all 6 test items and a total of 6 or more points.</p>
			</div>
		  </div>
		<a href="{{ url_for('index') }}"><button class="btn btn-primary">Check Another Score</button></a>
		<a href="/score_chart/?gender={{gender}}&age={{age}}"><button class="btn btn-primary">Get Score Chart</button></a>
	</body>
</html>