<!DOCTYPE html>
<html>
	<head>
		<title>NAPFA Test System</title>
	</head>
	<body>
		<h1>NAPFA Results</h1>
		<p>Gender: <b>{{gender}}</b></p>
		<p>Age: <b>{{age}}</b></p>
		<table>
			<tr>
				<th>Sit Up</th>
				<td>{{data[0]}}</td>
			</tr>
			<tr>
				<th>Jump</th>
				<td>{{data[1]}}</td>
			</tr>
			<tr>
				<th>Sit and Reach</th>
				<td>{{data[2]}}</td>
			</tr>
			<tr>
				<th>Pull Up</th>
				<td>{{data[3]}}</td>
			</tr>
			<tr>
				<th>Shuttle Run</th>
				<td>{{data[4]}}</td>
			</tr>
			<tr>
				<th>2.4km Run</th>
				<td>{{data[5]}}</td>
			</tr>
		</table>
	</body>
</html>