<!DOCTYPE html>
<html>
	<head>
		<title>NAPFA Score Checker</title>
		<link rel="stylesheet" href="../static/bootstrap.css">
	</head>
	<body style="margin:5px;">
		<h2>NAPFA Score Checker</h2>
		<form action="{{ url_for('display') }}" method="GET">
			<table style="height:40px;">
				<tr>
					<td style="width:70px;">Gender:</td>
					<td style="width:100px;"><select name="gender" class="form-select" style="width:90%;"><option value="M">M</option><option value="F">F</option></select></td>
					<td style="width:40px;">Age:</td>
					<td style="width:100px;"><select name="age" class="form-select" style="width:90%;">{% for i in range(12,20) %}<option value="{{i}}">{{i}}</option>{% endfor %}</select></td>
				</tr>
			</table>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Station</th>
						<th scope="col" colspan="2">Score</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row" style="vertical-align:middle;">Sit Up</th>
						<td colspan="2"><input name="SitUp" type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" required></td>
					</tr>
					<tr>
						<th scope="row" style="vertical-align:middle;">Standing Board Jump</th>
						<td colspan="2"><input name="Jump" type="text" class="form-control" placeholder="Enter in cm" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" required></td>
					<tr>
						<th scope="row" style="vertical-align:middle;">Sit and Reach</th>
						<td colspan="2"><input name="SitReach" type="text" class="form-control" placeholder="Enter in cm"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" required></td>
					</tr>
					<tr>
						<th scope="row" style="vertical-align:middle;">(Inclined) Pull Up</th>
						<td colspan="2"><input name="PullUp" type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" required></td>
					</tr>
					<tr>
						<th scope="row" style="vertical-align:middle;">Shuttle Run</th>
						<td colspan="2"><input name="Shuttle" type="text" class="form-control" placeholder="Enter in seconds"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" required></td>
					<tr>
						<th scope="row" style="vertical-align:middle;">2.4km Run</th>
						<td width="30%"><select name="Run24_min" class="form-select">{% for i in range(6,21) %}<option value={{i}}>{{i}} min</option>{% endfor %}</select></td>
						<td><select name="Run24_s" class="form-select">{% for i in range(0,60) %}<option value={{i}}>{{i}} s</option>{% endfor %}</select></td>
					</tr>
				</tbody>
			</table>
			<p><input type="submit" value="Check" class="btn btn-primary"></p>
		</form>
	</body>
	<script>
		function validate(evt) {
			var theEvent = evt || window.event;

			// Handle paste
			if (theEvent.type === 'paste') {
				key = event.clipboardData.getData('text/plain');
			} else {
			// Handle key press
				var key = theEvent.keyCode || theEvent.which;
				key = String.fromCharCode(key);
			}
			var regex = /[0-9]|\./;
			if( !regex.test(key) ) {
				theEvent.returnValue = false;
				if(theEvent.preventDefault) theEvent.preventDefault();
			}
		}
	</script>
</html>