<!DOCTYPE html>
<html>
	<head>
		<title>NAPFA Score Checker</title>
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body>
		<h1>NAPFA Score Checker</h1>
		<form action="{{ url_for('display') }}" method="GET">
			<p>
				Gender: <select name="gender"><option value="M">M</option><option value="F">F</option></select>	
				Age: <select name="age">{% for i in range(12,20) %}<option value="{{i}}">{{i}}</option>{% endfor %}</select>
			</p>
			<table width="100%" style="text-align:left">
				<tr>
					<th>Station</th>
					<th>Score</th>
				</tr>
				<tr>
					<td>Sit Up</td>
					<td><input name="SitUp" type="text" onkeypress='validate(event)' required></td>
				</tr>
				<tr>
					<td>Standing Board Jump</td>
					<td><input name="Jump" type="text" onkeypress='validate(event)' required>cm</td>
				<tr>
					<td>Sit and Reach</td>
					<td><input name="SitReach" type="text" onkeypress='validate(event)' required>cm</td>
				</tr>
				<tr>
					<td>Pull Up</td>
					<td><input name="PullUp" type="text" onkeypress='validate(event)' required></td>
				</tr>
				<tr>
					<td>Shuttle Run</td>
					<td><input name="Shuttle" type="text" onkeypress='validate(event)' required>s</td>
				<tr>
					<td>2.4km Run</td>
					<td><select name="Run24_min">{% for i in range(6,21) %}<option value={{i}}>{{i}}</option>{% endfor %}</select>min
						<select name="Run24_s">{% for i in range(0,61) %}<option value={{i}}>{{i}}</option>{% endfor %}</select>s</td>
				</tr>
			</table>
			<p><input type="submit" value="Check"></p>
		</form>
	</body>
	<script>
		function validate(evt) {
			var theEvent = evt || window.event;

			// Handle paste
			if (theEvent.type === 'paste') {
				key = event.clipboardData.getData('text/plain');
			} else {
			// Handle key press
				var key = theEvent.keyCode || theEvent.which;
				key = String.fromCharCode(key);
			}
			var regex = /[0-9]|\./;
			if( !regex.test(key) ) {
				theEvent.returnValue = false;
				if(theEvent.preventDefault) theEvent.preventDefault();
			}
		}
	</script>
</html>